<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>CampLand | All About Camps</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/landing.css">
</head>
<body>
<div class="container my card-transparent">
	<h1 class="card-body">
		<div class="card-title text">
	Welcome to CampLand
	</div>
		<a href="/campgrounds" class="btn btn-lg btn-outline-warning">View All Campgrounds</a>
	</h1>
	
</div>

	<div class="slide-item ">
  
      <img src="pexels-photo-1875449.jpeg"  class="pics showing"  alt="...">
    </div>
    <div class="slide-item">
      <img src="p2.jpeg" class="pics" alt="...">
    </div>
    <div class="slide-item">
      <img src="p4.jpeg" class="pics" alt="...">
    </div>
	<div class="slide-item">
      <img src="p8.jpeg" class="pics" alt="...">
    </div>
  


	
<script src="/landing.js"></script>
